 .backgroundBepro{background-color: #0d0f19;color: white  !important;padding-left:3rem}//section where docs are loaded
 .backgroundSideBar{background-color:#151720;color:white !important;padding: 3rem;margin-bottom:0px !important}//sidebar section
.caption{background-color: #ff8b10 !important;border-radius: 10%;margin-right:1rem}//modifie captions 

//table
table{background-color:#151720;border-radius: 10px;width:80%;}
th{padding-top:1rem;padding-bottom:1rem;padding-left:1rem;background:#303fe1;  text-transform: uppercase !important;}
td{padding-right: 2rem;padding-left:1rem;padding-top:1rem;padding-bottom:1rem;vertical-align:middle!important;overflow: auto}
tr{padding-bottom: 1rem !important;border-top:1px solid rgba(255,255,255,0.1)!important}


//colors
.blue{color:#303fe1}
.kindDoc{color:white}//Documentation section |-> kind
.SideBarText:hover{color:blue}


