
:root{
--defa-active:#303fe1;
--big-wrapper-bg:#0d0f19;
--big-wrapper-color:white;
--sidebar-wrapper-bg:#151720;
--sidebar-wrapper-color:white;
--caption-bg:#ff8b10;
--table-bg:#151720;
--table-header-bg:#303fe1;
--table-row-border-color:rgba(255,255,255,0.1);

}
[data-theme="light"] {
    --defa-active:#303fe1;
    --big-wrapper-bg:#ececec;
    --big-wrapper-color:#111;
    --sidebar-wrapper-bg:#DEE4E7;
    --sidebar-wrapper-color:black;
    --caption-bg:LightGray;
    --table-bg:#DEE4E7;
    --table-header-bg:#303fe1;
    --table-row-border-color:rgba(255,255,255,0.1);
  }

@media only screen and (max-width: 600px) {
  body {
   word-wrap: break-word;
   
  }
  table {
    border-radius:0px !important;
    max-width:75% !important;
  display: block;
  overflow:auto;}
  .backgroundBepro{
    width:100% !important
  }
  ul {
    margin: 0 !important; /* To remove default bottom margin */ 
    padding: 0 !important; /* To remove default left padding */
}
}

body{background-color: var(--big-wrapper-bg)!important;color:var(--big-wrapper-color)!important;width: 100%;}
.backgroundBepro{background-color: var(--big-wrapper-bg);color: var(--big-wrapper-color)  !important;width:75%;padding-left:3rem;}//section where docs are loaded
.backgroundSideBar{background-color:var(--sidebar-wrapper-bg);color:var(--sidebar-wrapper-color) !important;padding: 3rem;margin-bottom:0px !important; overflow-x: hidden !important;}//sidebar section
.caption{background-color: var(--caption-bg) !important;border-radius: 10%;margin-right:1rem}//modifie captions 
//table
table{background-color:var(--table-bg);border-radius: 5px;max-width:95%; overflow:auto;
   display: block;}
th{padding-top:1rem;padding-bottom:1rem;padding-left:1rem; color:white; text-transform: uppercase !important;}
td{padding-right: 2rem;padding-left:1rem;padding-top:1rem;padding-bottom:1rem;vertical-align:middle!important;overflow: auto}
tr{padding-bottom: 1rem !important;border-top:1px solid var(--table-row-border-color) !important}

tr:first-child th{
  background:var(--table-header-bg);
 
}

.btn-warning{background-color:#ff8b10 !important;border:0px !important;color:white  !important}
.SideBarText{
    color:var(--sidebar-wrapper-color) !important; 
    text-decoration: none;
    margin-top:1rem !important;
  }
  
//colors
.router-link-exact-active{color: var(--defa-active) !important;font-weight: bold;}
.router-link-active{color: var(--defa-active) !important;}

.kindDoc{color:var(--big-wrapper-color)}//Documentation section |-> kind


.backgroundSideBar::-webkit-scrollbar{
    width:3px;
    
}
/* Track */
.backgroundSideBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 

  }
   
  /* Handle */
.backgroundSideBar::-webkit-scrollbar-thumb {
    background: var(--defa-active)
  }
  
  /* Handle on hover */
.backgroundSideBar::-webkit-scrollbar-thumb:hover {
    background: var(big); 
  }
  
  body::-webkit-scrollbar {
    width: 3px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background: var(--defa-active)
  }