.d {
 
  @each $display in ( contents) {
    &-#{$display} { display: contents; }
  }
  
}




.align-items {
  @each $alias, $align in (center: center, end: end, stretch: stretch, start: start) {
    &-#{$alias} {align-items: $align}
  }
}

.align-self {
  @each $alias, $align in (center: center, end: end, stretch: stretch, start: start) {
    &-#{$alias} {align-self: $align}
  }
}

.overflow {
  &-hidden { overflow: hidden; }
  &-x-scroll { overflow-x: auto; overflow-y: hidden; scrollbar-width: thin;}
  &-y-scroll { overflow-y: auto; overflow-x: hidden; scrollbar-width: thin;}
}
