form { margin-block-end: 0; }
button, form, p, html, div, ul, ol, li, input, span {
  text-transform: initial;
}

a {
  color: #2c3e50;
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul, li { list-style: none; }
html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 24px;
  margin: 0;
}

strong, b {
  font-weight: 700!important;
  &.medium {
    font-weight: 500!important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
